@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body{
    /* overflow-y: hidden; */
}
.container{
    width: 480px;
    margin: 0 auto;
}
.sub_container{
    padding-bottom: 120px;
}
.header{
    background-image: url('../img/camfit2.png');
    background-size: 480px 160px;
    position: relative;
    padding: 20px;
    height: 120px;
}
.content{
    background-color: rgb(243, 241, 241);
    border-radius: 15px 15px 0 0;
}
.content > div{
    padding: 20px 0;
}
.content > div > input{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 90%;
    display: block;
}
.menu{
    background-color: white;
    z-index: 1030;
    margin: 0 auto;
    padding-top: 10px;
    width: 480px;
    border-top: 0.3px solid rgba(0, 0, 0, 0.181);
    position: fixed;
    bottom: 0;
}
.menu li{
    float: left;
    padding: 5px 0;
    list-style-type: none;
    width: 120px;
}
.menu a{
    display: flex;
}
.menu li a img{
    margin: auto auto;
}
.menu li h3{
    line-height: 1.5rem;
    text-align: center;
}

*{
	font-family: 'Do Hyeon', sans-serif !important;
}